!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8">
/[if IE 8]>         <html lang="en" class="no-js lt-ie9">
/[if IEMobile 7 ]>  <html lang="en" class="no-js iem7">
-# Consider adding a manifest.appcache: h5bp.com/d/Offline
-# Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/
<!--[if (gt IEMobile 7)|!(IEMobile)|(gt IE 8)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "UTF-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

  %title= yield_content(:title)

  %meta{:name => "description", :content => "Coolstrapp Framework"}
  %meta{:name => "author", :content=> "Cristian Ferrari (@energettico) - Abraham Barrera (@abraham_barrera)"}

  -# Mobile viewport optimization:
  %meta{:name => "HandheldFriendly", :content => "true"}
  %meta{:name => "MobileOptimized", :content => "320"}
  %meta{:name => "format-detection", :content => "telephone=no"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  -# iOS web app, delete if not needed:
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
  %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}

  :javascript
    (function () {
      var p, l, r = window.devicePixelRatio;
      if (navigator.platform === "iPad") {
          p = r === 2 ? "images/startup/tablet-portrait@2x.png" : "images/startup/tablet-portrait.png";
          l = r === 2 ? "images/startup/tablet-landscape@2x.png" : "images/startup/tablet-landscape.png";
          document.write('');
      } else {
          p = r === 2 ? "images/startup/smatphone@2x.png" : "images/startup/smatphone.png";
          document.write('');
      }
    })()

  -# The script prevents links from opening in mobile safari:
  :javascript
    (function (a, b, c) {
      if (c in b && b[c]) {
        var d, e = a.location,
            f = /^(a|html)$/i;
        a.addEventListener("click", function (a) {
            d = a.target;
            while (!f.test(d.nodeName)) d = d.parentNode;
            "href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href)
        }, !1)
      }
    })(document, window.navigator, "standalone")

  -# Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading:
  %meta{"http-equiv" => "cleartype", :content => "on"}

  -# StyleSheets
  = stylesheet_link_tag "coolstrap"
  = yield_content(:application_styles)
  -# All JavaScript at the bottom, except this Modernizr build.
  -# Modernizr enables HTML5 elements & feature detects for optimal performance.
  = javascript_include_tag "lib/modernizr-2.5.3"

%body

  = yield_content(:principal)

  / Third parties dependencies
  = javascript_include_tag "lib/zepto-1.0rc1"
  = javascript_include_tag "lib/iscroll"

  / CoolStrapp Libraries (Development mode)
  = javascript_include_tag "coolstrap-0.1"
  = yield_content(:application_js)
